.listagem_noticias{
    padding: 85px 0px;
    background-color: #292929;
    .descricao{
        text-align: left;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .itens{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        .item{
            width: 100%;
            display: inline-block;
            margin-bottom: 60px;
            .img{
                img{
                    width: 100%;
                    margin: 1px;
                }
            }

            .info{
                padding: 7px;
                background-color: black;
                margin:  0px;
                position: relative;
                z-index: 2;

                .titulo{
                    font-size: 18px;
                    font-family: 'Montserrat Bold';
                    margin-bottom: 25px;
                    &:after{
                        background-color: #fff;
                    }
                }

                .data{
                    font-size: 14px;
                    width: max-content;
                    margin: -65px -2px 0 0;
                    float: right;
                    background-color: blue;
                    padding: 10px 15px;
                }

                .link{

                    a{
                    font-size: 18px;
                    color: blue;
                    text-decoration: underline;
                    font-family: 'Montserrat bold';
                    transition: .20s;
                    &:hover{
                        color: #fff;
                      }
                    }
                }
            }
            @include tablet{
                width: 48%;
                margin-right: 4%;

                &:nth-child(2n+2){
                    margin-right: 0px;
                }
            }

            @include desktop{
                width: 30.66666667%;
                margin-right: 4%;

                &:nth-child(2n+2){
                    margin-right: 4%;
                }

                &:nth-child(3n+3){
                    margin-right: 0px;
                }
            }
        }
    }
    .paginacao{
        width: 100%;
        display: block;
        ul{
            display: inline-flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

        li{
            a{
                width: 40px;
                height: 40px;
                border: 1px solid #fff;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                transition: .30s;

                &:hover{
                    background-color: $color_destaque;
                    border: 1px solid $color_destaque;
                }

                &:active{
                    background-color: $color_destaque;
                    border: 1px solid $color_destaque;
                }
            }
            
          }

        }
        
    }

} 